# Python temporary files
.mypy_cache
.pytest_cache
__pycache__

# git metadata
/.git

# files not required for container
/terraform
/tests
/.dockerignore
/.gitignore
/docker-compose.yaml
/Dockerfile
/Makefile
/README.md
